# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Environments / secrets
.env

# Tool caches
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Flet
.flet/
build/
storage/

# IDE
.idea/
.vscode/

# macOS
.DS_Store

/Old
/data
/dist
/build
/repositories/__pycache__
/services/__pycache__
/__pycache__
/controls/__pycache__
services/database.db
/views/__pycache__
